*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* contendores principal */

body{
    border: 1px solid red;
    flex-basis: 1440px;
    height: 1905px;
}
#containerFlex{
margin: auto;
width: 1204px;
height: 1805px;
border: 2px dashed red;
display: flex;
flex-flow: column wrap;
align-items: center;
}
/* fin contendores principal */
.textoPorta{
   width: 1133px;
   height: 24px; 
   background: rgba(255, 0, 135, 0.5);    
}

.textoPorta h2{
 width: 315px;
   height: 24px; 
   background: rgba(0, 0, 135, 0.5);
   display:inline-block;
}
.textoPorta hr{
   width: 494px;
   border-color: orange;
   display: inline-block;
}
.principal{
    width: 1156px;
    height: 1379px;

}
.principal img{
    width: 684px;
    height: 448px;
}
.imagenes img{
    width: 369px;
    height: 435px; 
}
#texto{
    width: 448px;
    height: 348px; 
}